.box{
  -webkit-box-sizing: border-box;
  display: inline-block;
  margin-left: 15px;
}
.texto{
  margin-left: 11px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#box1
{
  background-color: yellow;
  width: 210px;
  height: 65px;
}
#box3{
  background-color: yellow;
  width: 210px;
  height: 65px;
}
#box2{
  background-color: #F41A8A;
  width: 210px;
  height: 65px;
}
